<div class="min-h-screen bg-gradient-to-br from-purple-100 to-indigo-200 py-12 px-4 sm:px-6 lg:px-8 flex items-center justify-center">
  <%= render partial: "todos/component/todo_card", locals: { todo: @todo } %>
  <%= render partial: "messages/component/chat_card", locals: { messages: @messages } %>
  <%= render partial: "tasks/component/tracker_card"%>
</div>
