<%= turbo_stream.remove dom_id(@task) %>


<%= turbo_stream.replace "distro_#{current_user.id}" do %>
  <div id="distro_<%= current_user.id %>" class="bg-gray-50 p-4 rounded-lg shadow-sm">
    <h3 class="text-lg font-medium text-gray-800 mb-4">Task Completion Distribution</h3>
    <%= column_chart @all_tasks.group(:completed).count,
        colors: ["#F59E0B"],
        library: {
          scales: { y: { beginAtZero: true } },
          xAxes: [{
            ticks: {
              callback: 'function(value) { return value ? "Completed" : "Incomplete"; }'
            }
          }]
        } %>
  </div>
<% end %>