<%= turbo_stream_from "todos" %>
<%= render layout: "shared/card", locals: { title: "Todo List", style: "background-color: #{widget["color"]};", id: "todo-widget" } do %>
  <div class="flex flex-col h-full">
    
    <div class="flex-1 overflow-auto mb-2">
      <%= render 'todos/component/todo_list'%>
    </div>

    <div class="flex-shrink-0">
      <%= render partial: "todos/component/todo_form", locals: { todo: Todo.new } %>
    </div>
  </div>
<% end %>
